<a href="https://colab.research.google.com/github/Yoonsun222/CapstoneDesign/blob/main/%EC%BA%A1%EC%8A%A4%ED%86%A4%EB%94%94%EC%9E%90%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

df1 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/미먼1.csv", encoding = 'euc-kr', parse_dates=['등록일자'])

df2 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/미먼2.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df3 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/미먼3.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df4 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/미먼4.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df5  = pd.read_csv("/content/drive/MyDrive/캡디테스트파일/MAPO_LIB_AIR_2022.03.07-03.13.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df6  = pd.read_csv("/content/drive/MyDrive/캡디테스트파일/MAPO_LIB_AIR_2022.03.14-03.20 (1).csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df7  = pd.read_csv("/content/drive/MyDrive/캡디테스트파일/MAPO_LIB_AIR_2022.03.21-03.27 (1).csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df8 = pd.read_csv("/content/drive/MyDrive/캡디테스트파일/MAPO_LIB_AIR_2022.03.28-04.03 (1).csv", encoding = 'euc-kr', parse_dates=['등록일자'])

df = pd.concat([df5,df6,df7,df8,df1,df2,df3,df4])

df['등록일자_str'] = df["등록일자"].dt.strftime("%Y-%m-%d")
df['시간'] = df["등록일자"].dt.strftime("%H").astype(int)+1
df =df[df.columns[[0,1,2,3,4,5,6,8,9]]]

df

,시리얼,온도(℃),습도(%),미세먼지(㎍/㎥),휘발성유기화합물(ppb),초미세먼지(㎍/㎥),등록일자,등록일자_str,시간
0,V01G1613537,1210,36,40,235,29,2022-03-07 08:57:00,2022-03-07,9
1,V01G1613542,1205,18,76,255,56,2022-03-07 08:57:00,2022-03-07,9
2,V01G1613601,1144,26,18,139,13,2022-03-07 08:57:00,2022-03-07,9
3,V01G1613603,1142,27,47,441,34,2022-03-07 08:57:00,2022-03-07,9
4,V01G1613606,1191,20,18,155,13,2022-03-07 08:58:00,2022-03-07,9
...,...,...,...,...,...,...,...,...,...
1747,V01G1613629,1254,25,23,577,17,2022-05-01 21:55:00,2022-05-01,22
1748,V01G1613630,1213,27,15,1180,11,2022-05-01 21:55:00,2022-05-01,22
1749,V01G1613632,1241,29,22,1285,16,2022-05-01 21:55:00,2022-05-01,22
1750,V01G1613633,1234,28,56,1204,41,2022-05-01 21:55:00,2022-05-01,22
1751,V01G1613634,1248,28,34,125,25,2022-05-01 21:55:00,2022-05-01,22

,시리얼,온도(℃),습도(%),미세먼지(㎍/㎥),휘발성유기화합물(ppb),초미세먼지(㎍/㎥),등록일자,등록일자_str,시간
0,V01G1613537,1210,36,40,235,29,2022-03-07 08:57:00,2022-03-07,9
1,V01G1613542,1205,18,76,255,56,2022-03-07 08:57:00,2022-03-07,9
2,V01G1613601,1144,26,18,139,13,2022-03-07 08:57:00,2022-03-07,9
3,V01G1613603,1142,27,47,441,34,2022-03-07 08:57:00,2022-03-07,9
4,V01G1613606,1191,20,18,155,13,2022-03-07 08:58:00,2022-03-07,9
...,...,...,...,...,...,...,...,...,...
1747,V01G1613629,1254,25,23,577,17,2022-05-01 21:55:00,2022-05-01,22
1748,V01G1613630,1213,27,15,1180,11,2022-05-01 21:55:00,2022-05-01,22
1749,V01G1613632,1241,29,22,1285,16,2022-05-01 21:55:00,2022-05-01,22
1750,V01G1613633,1234,28,56,1204,41,2022-05-01 21:55:00,2022-05-01,22
1751,V01G1613634,1248,28,34,125,25,2022-05-01 21:55:00,2022-05-01,22

In [ ]:



dust_df1 = pd.read_csv("/content/drive/MyDrive/캡디테스트파일/OBS_부유분진_TIM_20220510004304.csv",encoding = 'euc-kr', parse_dates=['등록일자'] )
dust_df2 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/OBS_부유분진_TIM_20220509183223.csv",encoding = 'euc-kr', parse_dates=['등록일자'] )
dust_df = pd.concat([dust_df1,dust_df2])

dust_df['등록일자_str'] = dust_df["등록일자"].dt.strftime("%Y-%m-%d")
dust_df['시간'] = dust_df["등록일자"].dt.strftime("%H").astype(int)
dust_df

                   등록일자  1시간평균 미세먼지농도(㎍/㎥)    등록일자_str  시간
0   2022-03-07 01:00:00                 35  2022-03-07   1
1   2022-03-07 02:00:00                 33  2022-03-07   2
2   2022-03-07 03:00:00                 38  2022-03-07   3
3   2022-03-07 04:00:00                 38  2022-03-07   4
4   2022-03-07 05:00:00                 32  2022-03-07   5
..                  ...                ...         ...  ..
608 2022-04-30 20:00:00                 32  2022-04-30  20
609 2022-04-30 21:00:00                 41  2022-04-30  21
610 2022-04-30 22:00:00                 30  2022-04-30  22
611 2022-04-30 23:00:00                 44  2022-04-30  23
612 2022-05-01 00:00:00                 34  2022-05-01   0

[1158 rows x 4 columns]

In [ ]:
weather_df1 = pd.read_csv("/content/drive/MyDrive/캡디테스트파일/OBS_ASOS_TIM_20220510004610.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
weather_df2 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/기상청데이터.csv", encoding = 'euc-kr', parse_dates=['등록일자'])

weather_df = pd.concat([weather_df1,weather_df2])

weather_df['등록일자_str'] = weather_df["등록일자"].dt.strftime("%Y-%m-%d")
weather_df['시간'] = weather_df["등록일자"].dt.strftime("%H").astype(int)



weather_df

                   등록일자  기온(°C)  풍속(m/s)  습도(%)  전운량(10분위)    등록일자_str  시간
0   2022-03-07 01:00:00    -0.9      1.4     56          7  2022-03-07   1
1   2022-03-07 02:00:00    -1.4      1.3     54          6  2022-03-07   2
2   2022-03-07 03:00:00    -1.9      1.0     58          5  2022-03-07   3
3   2022-03-07 04:00:00    -2.0      1.8     58          5  2022-03-07   4
4   2022-03-07 05:00:00    -2.3      1.6     56          6  2022-03-07   5
..                  ...     ...      ...    ...        ...         ...  ..
643 2022-04-30 20:00:00    12.0      2.6     79          8  2022-04-30  20
644 2022-04-30 21:00:00    11.7      2.4     83          8  2022-04-30  21
645 2022-04-30 22:00:00    11.4      3.3     86          7  2022-04-30  22
646 2022-04-30 23:00:00    11.3      3.1     86          6  2022-04-30  23
647 2022-05-01 00:00:00    10.9      3.0     74          3  2022-05-01   0

[1320 rows x 7 columns]

In [ ]:
data = pd.merge(left = df , right = weather_df, how = "inner", on = ["등록일자_str","시간"])
data = pd.merge(left = data , right = dust_df, how = "inner", on = ["등록일자_str","시간"])
data.head(100)


data = data.replace(-9999,np.nan)
data = data.replace(-999,np.nan)
data = data.dropna(axis=0)
data = data.drop_duplicates(['시리얼','등록일자'], keep='first')
data = data.sort_values(by=['시리얼','등록일자'] ,ascending=True)


data

,시리얼,온도(℃),습도(%)_x,미세먼지(㎍/㎥),휘발성유기화합물(ppb),초미세먼지(㎍/㎥),등록일자_x,등록일자_str,시간,등록일자_y,기온(°C),풍속(m/s),습도(%)_y,전운량(10분위),등록일자,1시간평균 미세먼지농도(㎍/㎥)
0,V01G1613537,1210,36,40,235,29,2022-03-07 08:57:00,2022-03-07,9,2022-03-07 09:00:00,0.4,2.1,58,8,2022-03-07 09:00:00,41
16,V01G1613537,1210,36,40,235,29,2022-03-07 09:57:00,2022-03-07,10,2022-03-07 10:00:00,3.0,0.7,51,2,2022-03-07 10:00:00,54
77,V01G1613537,1210,36,40,235,29,2022-03-07 14:57:00,2022-03-07,15,2022-03-07 15:00:00,8.4,2.9,29,7,2022-03-07 15:00:00,43
160,V01G1613537,1210,36,40,235,29,2022-03-08 10:57:00,2022-03-08,11,2022-03-08 11:00:00,8.0,1.5,50,4,2022-03-08 11:00:00,52
228,V01G1613537,1210,36,40,235,29,2022-03-08 12:57:00,2022-03-08,13,2022-03-08 13:00:00,10.8,2.9,46,7,2022-03-08 13:00:00,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20890,V01G1613637,1228,17,39,348,28,2022-04-27 15:56:00,2022-04-27,16,2022-04-27 16:00:00,23.4,2.8,23,0,2022-04-27 16:00:00,217
20924,V01G1613637,1228,17,39,348,28,2022-04-27 16:56:00,2022-04-27,17,2022-04-27 17:00:00,22.8,3.9,26,0,2022-04-27 17:00:00,190
20980,V01G1613637,1228,17,39,348,28,2022-04-27 18:56:00,2022-04-27,19,2022-04-27 19:00:00,19.6,3.6,31,0,2022-04-27 19:00:00,170
21002,V01G1613637,1228,17,39,348,28,2022-04-27 19:56:00,2022-04-27,20,2022-04-27 20:00:00,18.0,2.1,33,0,2022-04-27 20:00:00,144
21081,V01G1613637,1228,17,39,348,28,2022-04-27 21:56:00,2022-04-27,22,2022-04-27 22:00:00,16.4,2.6,41,0,2022-04-27 22:00:00,121

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data["시리얼"] = encoder.fit_transform(data["시리얼"])

data = data.reset_index()
data

,index,시리얼,온도(℃),습도(%)_x,미세먼지(㎍/㎥),휘발성유기화합물(ppb),초미세먼지(㎍/㎥),등록일자_x,등록일자_str,시간,등록일자_y,기온(°C),풍속(m/s),습도(%)_y,전운량(10분위),등록일자,1시간평균 미세먼지농도(㎍/㎥)
0,0,0,1210,36,40,235,29,2022-03-07 08:57:00,2022-03-07,9,2022-03-07 09:00:00,0.4,2.1,58,8,2022-03-07 09:00:00,41
1,16,0,1210,36,40,235,29,2022-03-07 09:57:00,2022-03-07,10,2022-03-07 10:00:00,3.0,0.7,51,2,2022-03-07 10:00:00,54
2,77,0,1210,36,40,235,29,2022-03-07 14:57:00,2022-03-07,15,2022-03-07 15:00:00,8.4,2.9,29,7,2022-03-07 15:00:00,43
3,160,0,1210,36,40,235,29,2022-03-08 10:57:00,2022-03-08,11,2022-03-08 11:00:00,8.0,1.5,50,4,2022-03-08 11:00:00,52
4,228,0,1210,36,40,235,29,2022-03-08 12:57:00,2022-03-08,13,2022-03-08 13:00:00,10.8,2.9,46,7,2022-03-08 13:00:00,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21026,20890,35,1228,17,39,348,28,2022-04-27 15:56:00,2022-04-27,16,2022-04-27 16:00:00,23.4,2.8,23,0,2022-04-27 16:00:00,217
21027,20924,35,1228,17,39,348,28,2022-04-27 16:56:00,2022-04-27,17,2022-04-27 17:00:00,22.8,3.9,26,0,2022-04-27 17:00:00,190
21028,20980,35,1228,17,39,348,28,2022-04-27 18:56:00,2022-04-27,19,2022-04-27 19:00:00,19.6,3.6,31,0,2022-04-27 19:00:00,170
21029,21002,35,1228,17,39,348,28,2022-04-27 19:56:00,2022-04-27,20,2022-04-27 20:00:00,18.0,2.1,33,0,2022-04-27 20:00:00,144
21030,21081,35,1228,17,39,348,28,2022-04-27 21:56:00,2022-04-27,22,2022-04-27 22:00:00,16.4,2.6,41,0,2022-04-27 22:00:00,121

In [ ]:
total_data = data[data.columns[[1,2,3,4,5,6,9,10,11,12,13,14,16]]]
total_data = total_data.replace(-9999,np.nan)
total_data = total_data.replace(-999,np.nan)
total_data = total_data.dropna(axis=0)
total_data.head(4)


total_data.columns = ['Serial','arduino_temp', 'arduino_hum','arduino_pm25','arduino_VOC','arduino_pm10','time','datetime','TMP','WSD','REH','SKY','pm25Value']
total_data

,Serial,arduino_temp,arduino_hum,arduino_pm25,arduino_VOC,arduino_pm10,time,datetime,TMP,WSD,REH,SKY,pm25Value
0,0,1210,36,40,235,29,9,2022-03-07 09:00:00,0.4,2.1,58,8,41
1,0,1210,36,40,235,29,10,2022-03-07 10:00:00,3.0,0.7,51,2,54
2,0,1210,36,40,235,29,15,2022-03-07 15:00:00,8.4,2.9,29,7,43
3,0,1210,36,40,235,29,11,2022-03-08 11:00:00,8.0,1.5,50,4,52
4,0,1210,36,40,235,29,13,2022-03-08 13:00:00,10.8,2.9,46,7,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21026,35,1228,17,39,348,28,16,2022-04-27 16:00:00,23.4,2.8,23,0,217
21027,35,1228,17,39,348,28,17,2022-04-27 17:00:00,22.8,3.9,26,0,190
21028,35,1228,17,39,348,28,19,2022-04-27 19:00:00,19.6,3.6,31,0,170
21029,35,1228,17,39,348,28,20,2022-04-27 20:00:00,18.0,2.1,33,0,144
21030,35,1228,17,39,348,28,22,2022-04-27 22:00:00,16.4,2.6,41,0,121

In [ ]:
total_data.to_csv('/content/drive/MyDrive/pre_capstone2.csv',index=False)

In [ ]:
total_data = pd.read_csv("/content/drive/MyDrive/pre_capstone2 (2).csv", encoding = 'euc-kr')

In [ ]:
 total_data['arduino_temp'] = (total_data['arduino_temp']/10)-100

In [ ]:
condition = []

for idx, i in enumerate(total_data['datetime']):
  date, time = i.split(" ")
  if time != 9:
    condition.append(idx)


total_data['datetime'] = total_data.loc[condition, 'datetime']

total_data = total_data.dropna(axis=0)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

total_data = pd.read_csv("/content/drive/MyDrive/캡디테스트파일/캡디_Realdata.csv", encoding = 'euc-kr')

In [ ]:
conditionlist = [
  (total_data['arduino_pm25.1'] <= 10) ,
  (total_data['arduino_pm25.1'] <= 30) & (total_data['arduino_pm25.1'] >= 10),
  (total_data['arduino_pm25.1'] >= 30)]
choicelist = [0, 1, 2]
total_data['arduino_pm25.1_class'] = np.select(conditionlist, choicelist, default='Not Specified')

total_data

,날짜,arduino_temp,arduino_hum,arduino_pm25,arduino_pm10,TMP,WSD,REH,SKY,pm25Value,arduino_pm25.1,arduino_pm25.1_class
0,2022-05-17 10:00,24,53,11,12,19.3,3.8,56,0,26,10,0
1,2022-05-17 10:30,24,52,9,10,19.3,3.8,56,0,26,11,1
2,2022-05-17 11:00,24,56,11,12,20.8,2.9,53,0,25,9,0
3,2022-05-17 14:00,23,49,16,16,22.3,3.0,52,0,25,15,1
4,2022-05-17 14:30,23,48,18,18,22.3,3.0,52,0,25,16,1
5,2022-05-17 15:00,22,52,15,15,21.5,3.9,53,0,27,18,1
6,2022-05-17 15:30,22,51,17,18,21.5,3.9,53,0,27,15,1
7,2022-05-17 16:00,22,52,15,16,21.3,2.8,55,0,21,17,1
8,2022-05-17 16:30,23,52,17,18,21.3,2.8,55,0,21,15,1
9,2022-05-17 17:00,23,52,20,19,20.2,3.3,59,0,20,17,1
10,2022-05-17 17:30,22,51,21,21,20.2,3.3,59,0,20,20,1
11,2022-05-17 18:00,22,53,25,25,18.6,3.2,64,0,26,21,1
12,2022-05-17 19:30,24,52,40,41,17.5,2.6,69,0,32,39,2
13,2022-05-17 20:00,21,60,43,43,16.5,2.6,74,0,32,40,2
14,2022-05-18 11:30,21,67,31,31,19.3,5.5,58,8,36,29,1
15,2022-05-18 12:00,21,60,31,32,21.7,5.8,47,7,36,31,2
16,2022-05-18 14:00,24,45,28,28,21.0,5.1,52,7,25,30,1
17,2022-05-18 14:30,23,49,25,25,21.0,5.1,52,7,25,28,1
18,2022-05-18 15:00,23,48,24,24,20.9,5.3,54,6,23,25,1
19,2022-05-18 15:30,23,49,26,26,20.9,5.3,54,6,23,24,1
20,2022-05-18 16:00,23,49,28,28,20.2,4.8,55,5,23,26,1
21,2022-05-17 16:30,23,48,27,27,20.2,4.8,55,5,23,28,1
22,2022-05-17 17:00,23,48,24,24,20.5,4.5,53,2,23,27,1
23,2022-05-18 17:30,23,47,22,23,20.5,4.5,53,2,23,24,1
24,2022-05-18 18:00,24,45,18,18,20.3,4.3,54,0,24,22,1
25,2022-05-18 18:30,24,44,17,17,20.3,4.3,54,0,29,18,1
26,2022-05-18 19:00,24,44,16,17,19.7,3.5,54,0,26,17,1
27,2022-05-18 19:30,24,45,14,14,19.7,3.5,54,0,26,16,1
28,2022-05-18 20:00,24,45,14,14,18.3,4.2,61,0,22,14,1
29,2022-05-18 20:30,23,44,14,14,18.3,4.2,61,0,22,14,1
30,2022-05-18 21:00,23,45,15,16,18.0,4.5,60,0,19,14,1
31,2022-05-19 11:30,22,50,11,11,20.4,4.7,51,8,15,10,0
32,2022-05-19 12:00,22,49,10,11,20.0,4.9,53,9,15,11,1
33,2022-05-19 12:30,23,46,6,6,20.0,4.9,53,9,19,10,0
34,2022-05-19 13:00,23,44,6,6,20.1,4.3,54,9,19,6,0
35,2022-05-19 13:30,23,44,5,5,20.1,4.3,54,9,19,6,0
36,2022-05-19 14:00,24,44,6,6,19.7,5.4,54,7,19,5,0
37,2022-05-19 14:30,23,43,4,4,19.7,5.4,54,7,19,6,0
38,2022-05-19 15:00,24,42,4,4,19.1,5.4,55,8,16,4,0
39,2022-05-19 15:30,24,42,4,4,19.1,5.4,55,8,16,4,0
40,2022-05-19 16:00,24,41,4,4,19.0,4.3,54,7,20,4,0
41,2022-05-19 16:30,24,41,5,5,19.0,4.3,54,7,20,4,0
42,2022-05-19 17:00,25,39,8,9,18.6,5.2,57,7,20,5,0
43,2022-05-19 17:30,24,40,10,11,18.6,5.2,57,7,20,8,0
44,2022-05-19 18:00,24,40,9,10,17.9,4.0,59,4,19,10,0
45,2022-05-19 18:30,24,41,11,12,17.9,4.0,59,4,19,9,0
46,2022-05-23 9:00,22,66,23,23,20.5,1.7,74,0,47,22,1
47,2022-05-23 9:30,22,66,25,25,20.5,1.7,74,0,47,23,1
48,2022-05-23 10:00,23,63,25,25,21.2,2.6,70,1,59,25,1
49,2022-05-23 10:30,23,62,27,27,21.2,2.6,70,1,59,25,1
50,2022-05-23 11:00,23,62,25,25,21.5,3.5,71,0,55,27,1
51,2022-05-23 11:30,23,61,26,26,21.5,3.5,71,0,55,25,1
52,2022-05-23 12:00,23,61,26,26,22.5,2.4,65,0,46,26,1
53,2022-05-23 12:30,24,61,26,26,22.5,2.4,65,0,46,26,1
54,2022-05-23 13:00,25,60,27,27,23.2,2.9,60,0,55,26,1
55,2022-05-23 13:30,24,60,29,29,23.2,2.9,60,0,55,27,1
56,2022-05-23 14:00,24,60,29,29,23.5,4.0,62,0,60,29,1
57,2022-05-23 14:30,24,59,28,28,23.5,4.0,62,0,60,29,1

In [ ]:
corr_df= total_data.corr(method='pearson')

corr_df[corr_df.columns[-1]]

arduino_temp     -0.309646
arduino_hum       0.656640
arduino_pm25      0.980530
arduino_pm10      0.978602
TMP               0.326951
WSD              -0.304245
REH               0.439429
SKY              -0.401995
pm25Value         0.603755
arduino_pm25.1    1.000000
Name: arduino_pm25.1, dtype: float64

In [ ]:
X =  total_data[total_data.columns[[1,2,3,4,5,6,7,8,9]]]
Y = total_data[total_data.columns[[-1]]]
X

,arduino_temp,arduino_hum,arduino_pm25,arduino_pm10,TMP,WSD,REH,SKY,pm25Value
0,24,53,11,12,19.3,3.8,56,0,26
1,24,52,9,10,19.3,3.8,56,0,26
2,24,56,11,12,20.8,2.9,53,0,25
3,23,49,16,16,22.3,3.0,52,0,25
4,23,48,18,18,22.3,3.0,52,0,25
5,22,52,15,15,21.5,3.9,53,0,27
6,22,51,17,18,21.5,3.9,53,0,27
7,22,52,15,16,21.3,2.8,55,0,21
8,23,52,17,18,21.3,2.8,55,0,21
9,23,52,20,19,20.2,3.3,59,0,20
10,22,51,21,21,20.2,3.3,59,0,20
11,22,53,25,25,18.6,3.2,64,0,26
12,24,52,40,41,17.5,2.6,69,0,32
13,21,60,43,43,16.5,2.6,74,0,32
14,21,67,31,31,19.3,5.5,58,8,36
15,21,60,31,32,21.7,5.8,47,7,36
16,24,45,28,28,21.0,5.1,52,7,25
17,23,49,25,25,21.0,5.1,52,7,25
18,23,48,24,24,20.9,5.3,54,6,23
19,23,49,26,26,20.9,5.3,54,6,23
20,23,49,28,28,20.2,4.8,55,5,23
21,23,48,27,27,20.2,4.8,55,5,23
22,23,48,24,24,20.5,4.5,53,2,23
23,23,47,22,23,20.5,4.5,53,2,23
24,24,45,18,18,20.3,4.3,54,0,24
25,24,44,17,17,20.3,4.3,54,0,29
26,24,44,16,17,19.7,3.5,54,0,26
27,24,45,14,14,19.7,3.5,54,0,26
28,24,45,14,14,18.3,4.2,61,0,22
29,23,44,14,14,18.3,4.2,61,0,22
30,23,45,15,16,18.0,4.5,60,0,19
31,22,50,11,11,20.4,4.7,51,8,15
32,22,49,10,11,20.0,4.9,53,9,15
33,23,46,6,6,20.0,4.9,53,9,19
34,23,44,6,6,20.1,4.3,54,9,19
35,23,44,5,5,20.1,4.3,54,9,19
36,24,44,6,6,19.7,5.4,54,7,19
37,23,43,4,4,19.7,5.4,54,7,19
38,24,42,4,4,19.1,5.4,55,8,16
39,24,42,4,4,19.1,5.4,55,8,16
40,24,41,4,4,19.0,4.3,54,7,20
41,24,41,5,5,19.0,4.3,54,7,20
42,25,39,8,9,18.6,5.2,57,7,20
43,24,40,10,11,18.6,5.2,57,7,20
44,24,40,9,10,17.9,4.0,59,4,19
45,24,41,11,12,17.9,4.0,59,4,19
46,22,66,23,23,20.5,1.7,74,0,47
47,22,66,25,25,20.5,1.7,74,0,47
48,23,63,25,25,21.2,2.6,70,1,59
49,23,62,27,27,21.2,2.6,70,1,59
50,23,62,25,25,21.5,3.5,71,0,55
51,23,61,26,26,21.5,3.5,71,0,55
52,23,61,26,26,22.5,2.4,65,0,46
53,24,61,26,26,22.5,2.4,65,0,46
54,25,60,27,27,23.2,2.9,60,0,55
55,24,60,29,29,23.2,2.9,60,0,55
56,24,60,29,29,23.5,4.0,62,0,60
57,24,59,28,28,23.5,4.0,62,0,60

In [ ]:
Y[]

      arduino_pm25.1_class
0                        1
1                        1
2                        0
3                        0
4                        0
...                    ...
19709                    0
19710                    1
19711                    0
19712                    1
19713                    1

[19714 rows x 1 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=222)




scaler = MinMaxScaler()
X_scaled_train = scaler.fit_transform(X_train)
X_scaled_train = pd.DataFrame(X_scaled_train, columns=X_train.columns, index=X_train.index)

X_scaled_test = scaler.fit_transform(X_test)
X_scaled_test = pd.DataFrame(X_scaled_test, columns=X_test.columns, index=X_test.index)

In [ ]:
# X_scaled_train = np.reshape(X_scaled_train, (2055210, 10 , 2))

In [ ]:
# hist = model.fit(X_train_scaled, Y_train, epochs=10, batch_size=1, validation_split=0.2)

In [ ]:
from sklearn.neural_network import MLPClassifier
model=MLPClassifier(hidden_layer_sizes=55, activation='tanh', solver='adam')
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
model.score(X_scaled_train, y_train)
pred_test=model.predict(X_scaled_test)
model.score(X_scaled_test, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

0.9333333333333333

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
model.score(X_scaled_train, y_train)
pred_test=model.predict(X_scaled_test)
model.score(X_scaled_test, y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9333333333333333

In [ ]:
import joblib
joblib.dump(model, '/content/drive/MyDrive/Real_model.pkl')

['/content/drive/MyDrive/Real_model.pkl']

In [ ]:
import joblib

classifer = joblib.load('/content/drive/MyDrive/ml_class_model4.pkl')
new_observation = [[25,58,20,25,23.5,2.3,47,0,33]]

# 샘플의 클래스를 예측합니다.
classifer.predict(new_observation)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['1'], dtype='<U1')

In [ ]:
import firebase_admin
from firebase_admin import db
from firebase_admin import credentials

if not firebase_admin._apps:
    cred = credentials.Certificate('/content/drive/MyDrive/캡스톤디자인/capstone-9ecef-firebase-adminsdk-1k7jj-61adc62b10.json')
    firebase_admin.initialize_app(cred, {
      'databaseURL': 'https://capstone-9ecef-default-rtdb.firebaseio.com/'
    })
  
db.reference(u'Logs').update({'speed' : 2})

In [ ]:
model.score(X_scaled_test, y_test)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
model=KNeighborsRegressor()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
model.score(X_scaled_train, y_train)
pred_test=model.predict(X_scaled_test)
model.score(X_scaled_test, y_test)

-0.0017863862555349552

In [ ]:


import numpy as np
from sklearn.metrics import mean_squared_error 
MSE_train = mean_squared_error(y_train, pred_train)
MSE_test = mean_squared_error(y_test, pred_test)
print("훈련   데이터 RMSE:", np.sqrt(MSE_train))
print("테스트 데이터 RMSE:", np.sqrt(MSE_test))

In [ ]:
from scipy.stats import randint
param_distribs={'hidden_layer_sizes': randint(low=10, high=100), 'solver': ['sgd', 'adam'], 
             'activation': ['tanh', 'relu']}
from sklearn.model_selection import RandomizedSearchCV
random_search=RandomizedSearchCV(MLPClassifier(), 
                                 param_distributions=param_distribs, n_iter=10, cv=5)
random_search.fit(X_scaled_train, y_train)

print("Best Parameter: {}".format(random_search.best_params_))
print("Best Score: {:.4f}".format(random_search.best_score_))
print("TestSet Score: {:.4f}".format(random_search.score(X_scaled_test, y_test)))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

Best Parameter: {'activation': 'relu', 'hidden_layer_sizes': 88, 'solver': 'adam'}
Best Score: 0.8611
TestSet Score: 0.9333

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [ ]:
from keras.layers import *
from keras.models import *
from keras.utils import *


model = Sequential()
model.add(LSTM(256, input_dim=1, input_length=10, stateful=True))
model.add(LSTM(64, return_sequences=True))
model.add(Dense(1, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()