<a href="https://colab.research.google.com/github/Yoonsun222/CapstoneDesign/blob/main/%EC%BA%A1%EC%8A%A4%ED%86%A4%EB%94%94%EC%9E%90%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [29]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

df1  = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/CHILD_AIR_2022.01.31-02.06.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df2  = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/CHILD_AIR_2022.02.07-02.13.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df3  = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/CHILD_AIR_2022.02.14-02.20.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df4 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/CHILD_AIR_2022.02.21-02.27.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
df5 = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/CHILD_AIR_2022.02.28-03.06.csv", encoding = 'euc-kr', parse_dates=['등록일자'])
weather_df = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/기상청데이터.csv", encoding = 'euc-kr', parse_dates=['등록일자'])

df = pd.concat([df1,df2,df3,df4,df5],axis=0, join='inner')

In [30]:
df['등록일자'] = df["등록일자"].dt.strftime("%Y-%m-%d %H:00")

df

,시리얼,관측시각,온도(℃),습도(%),미세먼지(㎍/㎥),초미세먼지(㎍/㎥),휘발성유기화합물(ppb),이산화탄소(ppm),등록일자
0,V10G1802191,2.021050e+11,20,49,5,4,99,405,2022-01-31 00:00
1,V10G1802099,2.021050e+11,21,46,4,3,106,447,2022-01-31 00:00
2,V10G1802225,2.021050e+11,21,49,4,3,27,461,2022-01-31 00:00
3,V10G1802415,2.021050e+11,17,49,4,3,581,383,2022-01-31 00:00
4,V10G1802677,2.021050e+11,21,46,5,4,7,570,2022-01-31 00:00
...,...,...,...,...,...,...,...,...,...
642691,V10G1803626,2.021050e+11,22,49,3,2,143,703,2022-03-06 23:00
642692,V10G1802586,2.021050e+11,21,44,3,3,10,372,2022-03-06 23:00
642693,V10G1802051,2.021050e+11,21,49,4,3,25,69,2022-03-06 23:00
642694,V10G1802859,2.021050e+11,21,61,3,3,4,383,2022-03-06 23:00
642695,V10G1803239,2.021050e+11,23,48,7,5,15,500,2022-03-06 23:00

In [31]:
weather_df['등록일자'] = weather_df["등록일자"].dt.strftime("%Y-%m-%d %H:00")

weather_df

                 등록일자  기온(°C)  풍속(m/s)  습도(%)  일조(hr)  전운량(10분위)
0    2022-01-31 01:00    -4.6      2.4     51     0.0          0
1    2022-01-31 02:00    -5.0      2.3     52     0.0          0
2    2022-01-31 03:00    -5.3      1.6     55     0.0          0
3    2022-01-31 04:00    -5.8      1.0     55     0.0          0
4    2022-01-31 05:00    -6.1      1.9     58     0.0          0
..                ...     ...      ...    ...     ...        ...
811  2022-03-05 20:00     1.5      3.9     37     0.0          0
812  2022-03-05 21:00     0.7      3.3     40     0.0          0
813  2022-03-05 22:00     0.0      2.9     40     0.0          0
814  2022-03-05 23:00    -0.3      3.0     41     0.0          0
815  2022-03-06 00:00    -0.6      3.4     43     0.0          0

[816 rows x 6 columns]

In [32]:
data = pd.merge(left = df , right = weather_df, how = "inner", on = "등록일자")
data.head(100)

#temp = df[df['시리얼']== 'V01T1622211']

,시리얼,관측시각,온도(℃),습도(%)_x,미세먼지(㎍/㎥),초미세먼지(㎍/㎥),휘발성유기화합물(ppb),이산화탄소(ppm),등록일자,기온(°C),풍속(m/s),습도(%)_y,일조(hr),전운량(10분위)
0,V10O1612855,2.022010e+11,0,41,65,24,-9999,-9999,2022-01-31 01:00,-4.6,2.4,51,0.0,0
1,V10O1612855,2.022010e+11,0,41,65,24,-9999,-9999,2022-01-31 01:00,-4.6,2.4,51,0.0,0
2,V10O1612854,2.022010e+11,1,40,1,1,-9999,-9999,2022-01-31 01:00,-4.6,2.4,51,0.0,0
3,V10O1612850,2.022010e+11,0,42,38,14,-9999,-9999,2022-01-31 01:00,-4.6,2.4,51,0.0,0
4,V10O1612856,2.022010e+11,0,39,1,2,-9999,-9999,2022-01-31 01:00,-4.6,2.4,51,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,V10G1802790,2.021050e+11,22,51,0,0,6,424,2022-01-31 01:00,-4.6,2.4,51,0.0,0
96,V10G1802780,2.021050e+11,20,49,8,6,12,505,2022-01-31 01:00,-4.6,2.4,51,0.0,0
97,V10G1802075,2.021050e+11,22,50,3,3,86,431,2022-01-31 01:00,-4.6,2.4,51,0.0,0
98,V10G1803200,2.021050e+11,21,48,5,4,11,429,2022-01-31 01:00,-4.6,2.4,51,0.0,0
99,V10G1802654,2.021050e+11,21,47,12,6,432,438,2022-01-31 01:00,-4.6,2.4,51,0.0,0

In [48]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data["시리얼"] = encoder.fit_transform(data["시리얼"])


data.dtypes

시리얼                int64
관측시각             float64
온도(℃)              int64
습도(%)_x            int64
미세먼지(㎍/㎥)          int64
초미세먼지(㎍/㎥)         int64
휘발성유기화합물(ppb)      int64
이산화탄소(ppm)         int64
등록일자              object
기온(°C)           float64
풍속(m/s)          float64
습도(%)_y            int64
일조(hr)           float64
전운량(10분위)          int64
dtype: object

In [52]:
total_data = data[data.columns[2:]]
total_data = total_data.replace(-9999,np.nan)
total_data = total_data.fillna(method='bfill')
total_data.head(4)
total_data.rename(index = {'시리얼': 'Id'}, inplace = True)



total_data = total_data.drop_duplicates(['Id','등록일자'], keep='first')

KeyError: ignored

In [20]:
X =  total_data[total_data.columns[[0,1,3,4,5,7,8,9,10,11]]]
Y = total_data[total_data.columns[[2]]]

In [8]:

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y, random_state=22)

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns, index=X_train.index)

X_test_scaled = scaler.fit_transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns, index=X_test.index)


X_train_scaled

,온도(℃),습도(%)_x,초미세먼지(㎍/㎥),휘발성유기화합물(ppb),이산화탄소(ppm),기온(°C),풍속(m/s),습도(%)_y,일조(hr),전운량(10분위)
2479500,0.968750,0.461538,0.625078,0.002268,0.0284,0.048,0.217949,0.464789,0.0,0.0
1114639,0.937500,0.516484,0.625702,0.000704,0.1252,0.552,0.397436,0.352113,1.0,0.0
2818619,0.945312,0.527473,0.625078,0.000704,0.1840,0.700,0.423077,0.760563,0.0,0.9
1399906,0.945312,0.505495,0.625702,0.004145,0.1416,0.520,0.115385,0.281690,0.0,0.3
1862510,0.945312,0.527473,0.625702,0.004614,0.1808,0.208,0.294872,0.197183,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
409766,0.921875,0.571429,0.625078,0.004614,0.1800,0.288,0.371795,0.338028,0.0,0.4
2195450,0.960938,0.461538,0.625078,0.001095,0.1452,0.376,0.602564,0.056338,1.0,0.0
2936980,0.921875,0.604396,0.625702,0.021897,0.2268,0.736,0.692308,0.267606,1.0,0.0
2751081,0.000000,0.000000,0.000000,0.000000,0.0000,0.660,0.307692,0.830986,0.0,0.7
2576618,0.960938,0.450549,0.625078,0.000547,0.2072,0.108,0.179487,0.380282,0.0,0.0

In [ ]:
from sklearn.svm import SVC

model=SVC()
model.fit(X_train_scaled, Y_train.values.ravel())
pred_train=model.predict(X_train_scaled)
model.score(X_train_scaled, Y_train)
pred_test=model.predict(X_test_scaled)
model.score(X_test_scaled, Y_test)