<a href="https://colab.research.google.com/github/Yoonsun222/CapstoneDesign/blob/main/%EC%BA%A1%EC%8A%A4%ED%86%A4%EB%94%94%EC%9E%90%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


df = pd.read_csv("/content/drive/MyDrive/캡스톤디자인/CHILD_AIR_2022.02.28-03.06.csv", encoding = 'euc-kr', parse_dates=['등록일자'])

df=df.dropna(axis=0)

temp = df[df['시리얼']== 'V01T1622211']

data = temp[temp.columns[2:]]

X = data[data.columns[[0,1,4,5]]]
Y = data[data.columns[[2,3]]]

X

      온도(℃)  습도(%)  휘발성유기화합물(ppb)  이산화탄소(ppm)
0        23     21            186         300
1        23     21            186         300
2        23     21            188         297
3        23     21            188         297
4        23     21            190         305
...     ...    ...            ...         ...
1803     21     16            155         314
1804     21     16            155         313
1805     21     16            155         313
1806     21     16            156         309
1807     21     16            156         309

[1808 rows x 4 columns]

In [6]:

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y, random_state=22)

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns, index=X_train.index)

X_test_scaled = scaler.fit_transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns, index=X_test.index)


X_train_scaled

      온도(℃)     습도(%)  휘발성유기화합물(ppb)  이산화탄소(ppm)
1755   0.50  0.066667       0.055085    0.969040
1088   0.25  0.000000       0.046610    0.848297
669    0.50  0.400000       0.012712    0.950464
448    0.75  1.000000       0.245763    0.857585
1567   0.50  0.066667       0.000000    0.972136
...     ...       ...            ...         ...
931    0.75  0.733333       0.694915    0.922601
1326   0.50  0.466667       0.741525    0.808050
1767   0.50  0.133333       0.067797    0.965944
643    0.75  0.466667       0.000000    0.953560
573    0.75  0.666667       0.000000    0.950464

[1356 rows x 4 columns]